*{
    margin:0 auto;
    padding:0 auto;    
}
.header{
	width: 80%
}
.menu ul{
	list-style: none;
}
.menu li{
 	position:relative;
	width: 150px;
	float: left;
	padding: 10px 10px 10px 10px;
	background-color: #33ccff;
	text-align: center;
}
.menu li:hover{
	background-color: #3399ff;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
.menu li ul{
	display: none;
	position: absolute;
	left: 0px;
}
.menu li:hover ul{
	display: block;
}
.menu li ul li{
	float: none;
	margin-left: 0;
}