.tbl {
	border-collapse: collapse;
}
.tbl th{
	background-color: #4CAF50;
}
a{
    text-decoration: none;
    color: #000000;
}
        #msg{
            color: #4CAF50;
        }
        input[type="submit"]{
            background-color: #4CAF50; /* Green */
            border: none;
            border-radius: 4px;
            color: white;
            padding: 3px 3px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin-top: 5px;
        }
        #frm{
        	padding-top: 30px;
        	padding-bottom: 30px;
        	margin-top: 40px;
        	width: 30%;
        	height: 50%;
        	background-color: #808080;
        	color: #ffffff;
        }