*{
    margin:0 auto;
    padding:0 auto;    
    font-family: 'sans serif';
}
.header{
	width: 80%
}
.menu ul{
	list-style: none;
}
.menu li{
 	position:relative;
	width: 170px;
	float: left;
	padding: 10px 10px 10px 10px;
	background-color: #33ccff;
	text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu li:hover{
	background-color: #3399ff;
}
a{
	text-decoration: none;
	color: #FFFFFF;
    display: block;
}
.menu .sub{
    display: none;
    position: absolute;
    margin-top: 10px;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu li:hover .sub{
    display: block;
}
.menu .sub a {
    color: black;
    padding: 12px 16px;
}
.menu .sub a:hover{
	background-color: #33ccff;
    color: #FFFFFF;
}
