table{
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
	height: 150px;
	width: 600px;
}
table *{
	border: 1px solid black;
	text-align: center;
}
th{
	background-color: #808080;
}
tr:nth-child(odd){
	background-color: #bfbfbf;
}